$shadowColor: #000;
$genreColor: rgb(180, 179, 180);

.banner {
  position: relative;
  color: $whiteHeader;

  .header {
    position: absolute;
    top: 0;
  }

  .carousel-item {
    .details {
      width: 100%;
      position: absolute;
      bottom: 0;
      transform: translateX(-50%);
      left: 50%;
      background-image: linear-gradient(transparent, rgb(0, 0, 0));
    }
  }

  .carousel li {
    height: 7px;
    width: 26px;
    border: 1px solid $whiteHeader;
    border-radius: 2px;
    background-color: $whiteHeader;
    opacity: 1;

    &.active {
      border-color: $primaryColor;
      background-color: $primaryColor;
    }
  }

  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }

  .movie-details {
    position: relative;
  }
}
