$shadowColor: #000;
$genreColor: rgb(180, 179, 180);

.banner {
  position: relative;
  color: $whiteHeader;

  .header {
    position: absolute;
    top: 0;
  }

  .carousel-item {
    .details {
      width: 100%;
      position: absolute;
      bottom: 0;
      transform: translateX(-50%);
      left: 50%;
    }
  }

  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }

  .movie-details {
    position: relative;
  }
}
