$inputBgColor: rgba(166, 166, 175, 0.5);

section.header {
  width: 100%;
  .navbar-light {
    .navbar-brand {
      color: $whiteHeader;
      filter: drop-shadow(2px 3px 3px $shadowColor);
    }
  }

  form {
    img {
      width: 20px;
    }

    input,
    input:focus {
      background-color: $inputBgColor;
      color: $whiteHeader;
    }

    input[type='search']::placeholder,
    :-ms-input-placeholder,
    ::-ms-input-placeholder {
      color: $whiteHeader;
    }

    .show {
      display: inline;
    }

    .hide {
      display: none;
    }
  }

  .navbar {
    padding: 0.5rem 0;
  }

  .btn-link {
    color: $whiteHeader;
  }

  @media (max-width: 991.98px) {
    .form-inline {
      justify-content: flex-end;
    }
  }
}
