.movie-details {
  & > span {
    color: $genreColor;
    margin-right: 1rem;
    font-size: 14px;
  }

  button.btn-outline-white {
    color: $whiteHeader;
    border-color: $whiteHeader;
  }

  .rating {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  @media (max-width: 767px) {
    h1 {
      font-size: 1.5rem;
    }

    .rating {
      display: none;
    }
  }

  @media (max-width: 430px) {
    display: none;
  }
}
