$greyText: rgb(128, 128, 138);

section.navbar {
  ul.nav {
    & > li > a,
    .nav-link {
      color: $greyText;
      text-decoration: none;
    }

    & > li > a {
      padding: 1rem;

      &.active,
      &:hover {
        color: $primaryColor;
        border-bottom: 1px solid $primaryColor;
      }
    }

    .nav-link {
      padding-top: 0;
    }

    & + hr {
      margin-top: 6px;
      width: 100%;
    }
  }

  li.custom-dropdown {
    button.btn-link {
      text-decoration: none;
      cursor: initial;
      color: $greyText;

      & + button {
        position: absolute;
        height: 33px;
        width: 130px;
        right: -56px;
        top: -4px;

        &:after {
          position: absolute;
          right: 44px;
          top: 13px;
        }
      }

      & + button,
      + button:active {
        border: none;
        background-color: transparent;
        color: $greyText;

        &:focus,
        &:active {
          box-shadow: none;
        }
      }
    }
  }
}
