$greyText: rgb(128, 128, 138);

section.navbar {
  ul.nav {
    & > li > a,
    .nav-link {
      color: $greyText;
      text-decoration: none;
    }

    & > li > a {
      padding: 1rem;

      &.active,
      &:hover {
        color: $primaryColor;
        border-bottom: 1px solid $primaryColor;
      }
    }

    .nav-link {
      padding-top: 0;
    }

    & + hr {
      margin-top: 6px;
      width: 100%;
    }
  }

  li.custom-dropdown {
    button.btn-link {
      text-decoration: none;
      cursor: initial;
      color: $greyText;

      & + button {
        position: absolute;
        height: 33px;
        width: 130px;
        right: -56px;
        top: -4px;

        &:after {
          position: absolute;
          right: 44px;
          top: 13px;
        }
      }

      & + button,
      + button:active {
        border: none;
        background-color: transparent;
        color: $greyText;

        &:focus,
        &:active {
          box-shadow: none;
        }
      }
    }

    & > div > button:first-child {
      font-size: 16px;
    }
  }

  @media (max-width: 416px) {
    .nav-item,
    .custom-dropdown > div > button:first-child {
      font-size: 14px !important;
    }
  }

  @media (max-width: 382px) {
    .nav {
      display: initial;
      li {
        padding-bottom: 1em;
      }

      .active {
        border-bottom: none !important;
      }
    }

    justify-content: center;
  }
}
