$smallGreyTextColor: rgb(133, 133, 135);
$borderColor: rgb(63, 63, 67);
$backgroundColor: rgba(72, 72, 94, 0.3);

section.rating {
  border: 1px solid $borderColor;
  border-radius: 4px;
  background-color: $backgroundColor;

  img {
    height: 24px;
    width: 25px;
    margin-right: 7px;
  }

  section.box {
    & > span {
      color: $smallGreyTextColor;
      font-size: 14px;
    }
  }

  .back-stars {
    position: relative;

    .front-stars {
      position: absolute;
      top: 2px;
      left: 0px;
      display: inline-flex;
      overflow: hidden;
    }

    .badge-custom {
      color: $whiteHeader;
      background-color: #000;
      border: 1px solid $borderColor;
    }
  }
}
