@import './variables';
@import 'node_modules/bootstrap/scss/bootstrap';
@import './banner';
@import './header';
@import './movie-details';
@import './rating';
@import './navbar';
@import './movie-card-item';
@import './loader';
@import './footer';
@import './global';

$bodyBgColor: #f8f8f8;

body {
  margin: 0;
  font-family: Helvetica, sans-serif, Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $bodyBgColor;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
